#header {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  margin-top: -8px;
  background-color: red;
  z-index: 1;
}

#nav-bar__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#nav-link {
  margin-top: 12px;
  margin-right: 20px;
  list-style-type: none;
  text-decoration: none;
}

#nav-link a {
  list-style-type: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

#video {
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  justify-content: center;
}

#section-2 {
  background-color: green;
}

#section-3 {
  background-color: yellow;
}

#section-4 {
  background-color: orange;
}

#title {
}

div {
  padding-top: 15vh;
  z-index: 2;
}

@media (max-width: 502px) {
  #title {
    display: none;
  }
}
